<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MtpFileTransfer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <MtpFileTransfer.Properties.Settings>
            <setting name="PcSourceDirectoryPath" serializeAs="String">
                <value>C:/Application/master</value>
            </setting>
            <setting name="DeviceDestinationDirectoryPath" serializeAs="String">
                <value>/Internal storage/Application/master</value>
            </setting>
            <setting name="DeviceSourceDirectoryPath" serializeAs="String">
                <value>/Internal storage/Application/result</value>
            </setting>
            <setting name="PcDestinationDirectoryPath" serializeAs="String">
                <value>C:/Application/result</value>
            </setting>
            <setting name="DeviceSourceFileRelativePaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>dir1/file1.txt</string>
                        <string>dir1/file2.txt</string>
                        <string>dir2/file3.txt</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PcSourceFileRelativePaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>dir10/file10.txt</string>
                        <string>dir10/file20.txt</string>
                        <string>dir20/file30.txt</string>
                    </ArrayOfString>
                </value>
            </setting>
        </MtpFileTransfer.Properties.Settings>
    </applicationSettings>
</configuration>